<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maquette AFEC - Card</title>
    <link rel="stylesheet" href="../css/card-layout.css" />
    <link rel="stylesheet" href="../css/card-style.css" />
  </head>
  <body>
    <main class="container grid-container">
      <!-- Card 1 -->
      <figure id="card-1" class="card grid-item">
        <figcaption class="card--container">
          <a href="">
            <span class="card--content">
              <span class="card--tag">Services à la personne - Sanitaire et social</span>
              <span class="card--title">Alternance – TP Assistant(e) de Vie aux Familles</span>
              <span class="card--duration">10 mois</span>
              <span class="card--level">Niveau 3 (équivalent à un CAP)</span>
              <span class="card--more">En savoir plus</span>
            </span>
          </a>
        </figcaption>
      </figure>

      <!-- Card 2 -->
      <figure id="card-2" class="card grid-item">
        <figcaption class="card--container">
          <a href="">
            <span class="card--content">
              <span class="card--tag">Card Tag</span>
              <span class="card--title">Card Title</span>
              <span class="card--duration">Card Duration</span>
              <span class="card--level">Card Level</span>
              <span class="card--more">En savoir plus</span>
            </span>
          </a>
        </figcaption>
      </figure>

      <!-- Card 3 -->
      <figure id="card-3" class="card grid-item">
        <figcaption class="card--container">
          <a href="">
            <span class="card--content">
              <span class="card--tag">Card Tag</span>
              <span class="card--title">Card Title</span>
              <span class="card--duration">Card Duration</span>
              <span class="card--level">Card Level</span>
              <span class="card--more">En savoir plus</span>
            </span>
          </a>
        </figcaption>
      </figure>

      <!-- Card 4 -->
      <figure id="card-4" class="card grid-item">
        <figcaption class="card--container">
          <a href="">
            <span class="card--content">
              <span class="card--tag">Card Tag</span>
              <span class="card--title">Card Title</span>
              <span class="card--duration">Card Duration</span>
              <span class="card--level">Card Level</span>
              <span class="card--more">En savoir plus</span>
            </span>
          </a>
        </figcaption>
      </figure>

      <!-- Card 5 -->
      <figure id="card-5" class="card grid-item">
        <figcaption class="card--container">
          <a href="">
            <span class="card--content">
              <span class="card--tag">Card Tag</span>
              <span class="card--title">Card Title</span>
              <span class="card--duration">Card Duration</span>
              <span class="card--level">Card Level</span>
              <span class="card--more">En savoir plus</span>
            </span>
          </a>
        </figcaption>
      </figure>

      <!-- Card 6 -->
      <figure id="card-6" class="card grid-item">
        <figcaption class="card--container">
          <a href="">
            <span class="card--content">
              <span class="card--tag">Card Tag</span>
              <span class="card--title">Card Title</span>
              <span class="card--duration">Card Duration</span>
              <span class="card--level">Card Level</span>
              <span class="card--more">En savoir plus</span>
            </span>
          </a>
        </figcaption>
      </figure>

      <!-- // Provide further more cards
      <figure id="card-7" class="card grid-item">Card 7</figure>
      <figure id="card-8" class="card grid-item">Card 8</figure>
      <figure id="card-9" class="card grid-item">Card 9</figure>
      -->
    </main>
  </body>
</html>
