<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maquette AFEC Cergy -- footer</title>
    <link rel="stylesheet" href="../css/footer-layout.css" />
    <link rel="stylesheet" href="../css/footer-style.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="container">
        <div class="column column-1 column-contact">
          <h4 class="column-title">Restons en contact</h4>
          <div class="contact-button">
            <a class="contact-button--link" href="">Nous contacter</a>
          </div>
          <div class="contact-social">
            <a href=""><img alt="facebook" src="../assets/facebook.png" /></a>
            <a href=""><img alt="linkedin" src="../assets/linkedin.png" /></a>
            <a href=""><img alt="instagram" src="../assets/instagram.png" /></a>
          </div>
        </div>
        <div class="column column-2 column-afec">
          <h4 class="column-title">Groupe AFEC</h4>
          <ul>
            <li class="footer-nav">
              <a href="">Formations</a>
            </li>
            <li class="footer-nav">
              <a href="">Centres de formation</a>
            </li>
            <li class="footer-nav">
              <a href="">Offres d'emploi</a>
            </li>
          </ul>
        </div>
        <div class="column column-3 column-prestations">
          <h4 class="column-title">Prestations</h4>
          <ul>
            <li class="footer-nav">
              <a href="">Évaluations certifications</a>
            </li>
            <li class="footer-nav">
              <a href="">Accompagnement VAE</a>
            </li>
            <li class="footer-nav">
              <a href="">Formations en alternance</a>
            </li>
            <li class="footer-nav">
              <a href="">Formations éligibles FNE</a>
            </li>
          </ul>
        </div>
        <div class="column column-4 column-about">
          <h4 class="column-title">À propos</h4>
          <ul>
            <li class="footer-nav">
              <a href="">Talent School</a>
            </li>
            <li class="footer-nav">
              <a href="">L' AFEC</a>
            </li>
            <li class="footer-nav">
              <a href="">Point F</a>
            </li>
            <li class="footer-nav">
              <a href="">Actualités</a>
            </li>
          </ul>
        </div>
        <div class="column column-5 column-ressources">
          <h4 class="column-title">Ressources</h4>
          <ul>
            <li class="footer-nav">
              <a href="">Grille tarifaire</a>
            </li>
            <li class="footer-nav">
              <a href="">CGU</a>
            </li>
            <li class="footer-nav">
              <a href="">CGV</a>
            </li>
            <li class="footer-nav">
              <a href="">Règlement intérieur</a>
            </li>
            <li class="footer-nav">
              <a href="">RGPD</a>
            </li>
            <li class="footer-nav">
              <a href="">Contact du siège</a>
            </li>
            <li class="footer-nav">
              <a href="">Glossaire</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
