<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maquette AFEC Cergy -- header</title>
    <link rel="stylesheet" href="../css/header-layout.css" />
    <link rel="stylesheet" href="../css/header-style.css" />
  </head>
  <body>
    <header class="header header-image--img">
      <div class="container">
        <!-- Main Nav -->
        <main class="main --header-main">
          <div class="logo">
            <a href=""
              ><img
                src="../assets/logo-afec-noel-blanc-transparent.png"
                width="117" height="70"
            /></a>
          </div>
          <nav class="nav --header-main-nav">
            <ul class="nav-list">
              <li class="list-item"><a href="">Évènements</a></li>
              <li class="list-item"><a href="">Formations</a></li>
              <li class="list-item"><a href="">Nos campus</a></li>
              <li class="list-item"><a href="">Notre offre</a></li>
              <li class="list-item"><a href="">L' AFEC recrute</a></li>
              <li class="list-item"><a href="">Actualités</a></li>
              <li class="list-item"><a href="">Qui sommes-nous</a></li>
            </ul>
          </nav>
          <a href="" class="btn text-uppercase --header-main-btn">Nous contacter</a>
        </main>

        <!-- Breadcrumbs Nav -->
        <aside class="aside --header-breadcrumbs--nav">
          <nav class="nav">
            <ol class="nav-list">
              <li class="list-item"><a href="">Acceuil</a></li>
              <li class="list-item"><a href="">Centre</a></li>
              <li class="list-item"><a href="">Île-de-France</a></li>
              <li class="list-item"><a href="">Cergy</a></li>
            </ol>
          </nav>
        </aside>
      </div>
    </header>
  </body>
</html>
